@import "./components";


.collection{
    display: flex;
    height: calc(100% - 25px);
    .masonry-layout{
        display: flex;
        flex-direction: row;
        flex: 1;
        position:relative;
        margin: 25px;
        .child-item{
            width:200px;
            .title{
                font-size: 1.2rem;
            }
            img{
                height: auto;
                width: 100%;
            }
        }
    }
}